body {
    margin: 5rem;
    text-align: center;
}
  
  
    h1{
      text-align: center;
    }

   
    #container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 100px;
        /* border: solid; */
        margin-left: 30rem;
        margin-right: 30rem;
        margin-top: 2rem;
    }
    /* .row {
        border: solid;
    } */

    /* #cellDiv{
        border: solid;
    } */